<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styleLogin.css">
</head>
<body>
   <div class="login-container">
        <h2>Cadastro</h2>
        <form id="loginForm">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>
            <button type="submit"><a href="index.html">Entrar</a></button> 
     
        </form>
    </div>

    
   <script>
       
        document.getElementById("loginForm").addEventListener("submit", function(event) {
            // Previne o envio padrão do formulário
            event.preventDefault();
            
           
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            
            console.log("Email: " + email);
            console.log("Senha: " + password);
            
        });
    </script>



</body>
</html>