<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleLogin.css') }}">
</head>
<body>
   <div class="login-container">
        <h2>Digite o email para utilizar o serviço</h2>
        <form method="post" action="{{ url_for('login') }}">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            </div>
            <button type="submit">Entrar</button> 
        </form>
    </div>
    </body>
</html>